@using Wellcome.MoH.Api
@model SearchModel
@{
    ViewData["Title"] = Constants.SiteTitle;
    ViewData["Description"] = "Medical Officer of Health reports give statistical data about births, deaths and diseases, as well as information on local communities and daily life.";
    ViewData["h1"] = "Search results";
    ViewData["h2"] = Constants.SiteTitle;
}

<section>
<div class="section">
    <div class="wrap">
        <ul id="lvlyul" class="breadcrumb" role="navigation">
            <li><a href="/">Home</a></li>
            <li>
                @if (string.IsNullOrWhiteSpace(Model.NormalisedPlace))
                {
                    <text>Browse reports</text>
                }
                else
                {
                    <text>Browse boroughs: </text> @Model.NormalisedPlace
                }
            </li>
        </ul>

        <h2>Browse results</h2>
        <div class="moh-search-hightlight">
            <partial name="../Shared/_SearchTool.cshtml"/>
        </div>
    
        @if (Model.ReportsResult.HasResults)
        {
            <div id="wlResultsInfo" class="group site-search-options track-link">
                <h3 class="float-left">
                    Showing
                    <strong>@ViewData["FirstCount"] &mdash; @ViewData["LastCount"]</strong> of
                    <strong>@Model.ReportsResult.TotalResults reports</strong>
                </h3>
            
                @if(Model.ReportsResult.TotalResults > 100 && !Model.ReportsResult.PreCanned)
                {
                    <fieldset class="site-search-option download-as" id="fsNoDownload">
                        <div class="option-menu" style="padding-right: 0.75em;">
                            <a href="/about-the-reports/using-the-report-data/#downloads">Download options</a>
                        </div>
                    </fieldset>
                }
                else
                {
                    <partial name="../Shared/_DownloadAs.cshtml" />
                }
                
                <!-- search-option-orderby.html -->
                <fieldset class="site-search-option order-by" data-replace="order-by">
                    <label>Order by:
                        <select class="order-by" name="orderby">
                            <option value="date">Date</option>
                            @if (Model.Ordering == Ordering.DisplayName)
                            {
                                <option value="title" selected="selected">Title</option>
                            }
                            else
                            {
                                <option value="title">Title</option>
                            }
                        </select>
                    </label>
                </fieldset>
            
            </div>
        
            <ul class="site-search-results">
                @foreach (var report in Model.ReportsResult.PageOfReports)
                {
                    <li class="result">
                        <div class="group fixed-right">
                            <div class="fluid-column">
                                <img src="@report.Thumbnail" alt="" width="60" class="float-left"/>
                                <h4 class="result-title">
                                    <a href="/report/@report.BNumber">@report.DisplayPlace @report.Year</a>
                                </h4>
                                <p>@report.Title</p>
                            </div><!-- /.fixed-column -->
                            <div class="fixed-column">
                                <dl class="properties">
                                    <dt>Published</dt>
                                    <dd>@report.PublicationYear</dd>
                                    @if (!string.IsNullOrWhiteSpace(report.Author))
                                    {
                                        <dt>Author</dt>
                                        <dd>@report.Author</dd>
                                    }
                                    <dt>Pages</dt>
                                    <dd>@report.PageCount</dd>
                                    <dt>Tables</dt>
                                    <dd>@report.TableCount</dd>
                                </dl>
                            </div><!-- /.fluid-column -->
                        </div><!-- /.group.fixed-left -->
                    </li><!-- /.result -->
                }
            </ul>
            
            @Html.Raw(ViewData["Pager"])
        }
        else
        {
            <h4 class="separator">Sorry, no results found</h4>
            <h5>Looking for a place, street or building name? </h5>
            <ul>	
                <li>Place names on this website are based on large administrative authorities like boroughs, districts or parishes.</li>
                <li>
                    If you’re looking for a more specific name that is not a formal authority, e.g. Peckham Rye, try 
                    your search in the <strong>'Search for'</strong> box instead. You can also use quotation marks to 
                    quickly search for roads, streets, parks: "bethnal green road".
                </li>
                <li>At present, no postcode data is available. </li>
            </ul>

        }

        
    </div><!-- /.wrap -->
</div><!-- /.section -->
</section>    